html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  color: #336B6B;
  padding: 10px;
  text-align: left;
}
table td {
  border: solid 1px #DDEEEE;
  padding: 10px;
}